<div class="back">
    <div class="form">
        <%= form_with url: '/posts', method: :post, local: true do |form| %>
            <%= form.text_field :content, class: "text" %>
            <%= form.submit "SEND", class: "send" %>
        <% end %>
    </div>
    <div class="posts">  
         <% @posts.each do |post| %>   
            <div class="content">
                <%= post.content %>
            </div>
        <% end %> 
    </div>
</div>